!!!5
%html{:lang => "es"}
  %head
    %meta{:charset => "utf-8"}

    %title
      Manifiesto
      -#= yield_content(:title)

    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "Cristian Ferrari | @energettico", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}

    -# StyleSheets
    = stylesheet_link_tag "application"

    -# Fav and touch icons
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "assets/icons/apple-touch-icon-144-precomposed.png"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "assets/icons/apple-touch-icon-114-precomposed.png"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "assets/icons/apple-touch-icon-72-precomposed.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "assets/icons/apple-touch-icon-57-precomposed.png"}
    %link{:rel => "shortcut icon", :href => "assets/icons/favicon.png"}

    -# Javascript
    = javascript_include_tag "vendor/modernizr-2.5.3"
    :javascript
      if (window.devicePixelRatio > 1) {
        var elHtml = document.getElementsByTagName('html')[0],
            atrClass = elHtml.getAttribute('class');
            atrClass = atrClass + ' retina';
        elHtml.setAttribute('class', atrClass); //For Most Browsers
      }

  %body
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40661926-1', 'manifies.to');
      ga('send', 'pageview');

    %nav
      %div
        %a{:href => "#"}
          %span Unete
          %i.icon-star
      %div
        %a{:href => "#"}
          %span Corre la voz
          %i.icon-share-alt

    #wrapper
      #open_nav
        %i.icon-reorder

      = yield_content(:content)

    = javascript_include_tag "plugins"
    = javascript_include_tag "script"
